<div class="cms-page">
  <h1 class="cms-page-title">{{ page.title }}</h1>
  <div class="cms-page-content">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page Content",
  "settings": []
}
{% endschema %}
